*{margin:0;padding:0}
a{text-decoration: none}
li{list-style: none}
img{border: 0}
body,html{height: 100%;position: relative;}
body{display:flex;flex-direction:column;}


header{background: #434343;font-size: 0.2rem;height:0.72rem;display:flex;justify-content: space-between;align-items: center;flex-shrink: 0;text-align: center;}
header span{color:#fff;margin-left:0.19rem}
header p{float: left;color: white;font-size: 0.4rem;margin-right: 3.1rem;}

section{flex:1;overflow:auto}
.bk{
	width: 3rem;
	height: 100%;
	background: #434343;
	position: absolute;
	z-index: 100;
	left: -3rem;
}

footer{display:flex;justify-content:space-around;align-items: center; border-top:#d2d2d2 solid gray;height: 1rem;flex-shrink: 0;background: #434343;color: white;}
footer span{display:flex;justify-content:space-around;font-size: 0.3rem}
footer figcaption{font-size: 0.4rem}